extends layout

append head_styles
  <!-- https://dev.twitter.com/web/overview/widgets-webpage-properties -->
  meta(name='twitter:widgets:theme', content='light')
  meta(name='twitter:widgets:link-color', content='#55acee')
  meta(name='twitter:widgets:border-color', content='#55acee')
  meta(name='twitter:widgets:autoload', content='off')
  meta(name='twitter:dnt', content='on')

  <!-- Font used for the title -->
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Alegreya Sans SC')
  
  link(rel='stylesheet', type="text/css", href='stylesheets/index.css')

append body_content
  div(class="row row-title")
    div(class="col-md-12")
      div(class="col-md-3")
        img(src="images/teltec-logo-alpha.png", onclick="$('.config-panel').show();")
      div(class="col-md-8")
        h1.live-tweets-title
          | #{title}

  .config-panel
    form.config-form
      .form-group
        label(for='max_visible_tweets') title (string)
        input#max_visible_tweets.form-control.config(type='text', data-item='title', data-type='str', value='#{title}', autocomplete='off')
      .form-group
        label(for='max_visible_tweets') max_visible_tweets (int)
        input#max_visible_tweets.form-control.config(type='text', data-item='max_visible_tweets', data-type='int', autocomplete='off')
      .form-group
        label(for='update_interval') update_interval (int, in milliseconds)
        input#update_interval.form-control.config(type='text', data-item='update_interval', data-type='int', autocomplete='off')
      button.btn.btn-default(type='submit', name='save') {% trans 'Save' %}
      button.btn.btn-default(type='submit', name='stop') {% trans 'Stop' %}

  .index-body-content
    .tweets-panel
      .row.tweets-row
        .tweet-template-native
          .col-md-5.tweet-item
            .tweet-container.tweet
              // Twitter widget
        .tweet-template-custom
          .col-md-5.tweet-item
            .tweet-container.tweet
              .property
                | @
                span.author(data-item='author') #{author}
                |  {% trans 'said' %}:
              .property(data-item='message')
                span.message #{message}
              .property(data-item='when')
                | When: 
                span.when #{when}
              .property(data-item='score')
                | Score: 
                span.score #{score}

//        .col-md-5.tweet-item
//          .tweet-container.tweet
//            .property
//              | @
//              span.author(data-item='author') #{author[i]}
//              |  {% trans 'said' %}:
//            .property(data-item='message')
//              span.message #{message}
//            .property(data-item='when')
//              | When: 
//              span.when #{when}
//            .property(data-item='score')
//              | Score: 
//              span.score #{score}

append foot_scripts
  script(type='text/javascript', src="3rd/moment/moment-with-locales.min.js")
  script(type='text/javascript', src="javascripts/diacritics.js")
  script(type='text/javascript', src="javascripts/badwords.pt-br.js")
  script.
    $(document).ready(function() {
      var locale = 'pt-BR';
      moment.locale(locale);
      console.log('moment.locale = ' + moment.locale());
    });
  script(type='text/javascript', src="javascripts/integration-twitter.js")
